#rightMenu.js-pjax
    .rightMenu-group.rightMenu-small
        a.rightMenu-item(href="javascript:window.history.back();")
            i.fa.fa-arrow-left
        a.rightMenu-item(href="javascript:window.history.forward();")
            i.fa.fa-arrow-right
        a.rightMenu-item(href="")
            i.fa.fa-refresh
        a.rightMenu-item(href="javascript:rmf.scrollToTop();")
            i.fa.fa-arrow-up
    .rightMenu-group.rightMenu-line.menu-copy-link
        a.rightMenu-item(href="javascript:rmf.copyPageLink()")
            i.fa.fa-link
            span='复制本页链接'
    .rightMenu-group.rightMenu-line.hide.menu-text
        a.rightMenu-item(href="javascript:rmf.copySelect();")
            i.fa.fa-copy
            span='复制'
        a.rightMenu-item(href="javascript:window.open(\"https://www.google.com/search?q=\"+window.getSelection().toString());")
            i.fab.fa-google
            span='Google 一下'
        a.rightMenu-item(href="javascript:rmf.searchinThisPage();")
            i.fas.fa-search
            span='站内搜索'
    .rightMenu-group.rightMenu-line.hide.menu-too
        a.rightMenu-item(href="javascript:window.open(window.getSelection().toString());")
            i.fa.fa-window-restore
            span='新窗口打开'
        a.rightMenu-item(href="javascript:window.location=window.getSelection().toString();")
            i.fa.fa-link
            span='前往此链接'
    .rightMenu-group.rightMenu-line.hide.menu-paste
        a.rightMenu-item(href='javascript:rmf.paste();')
            i.fa.fa-copy
            span='粘贴'
    .rightMenu-group.rightMenu-line.menu-post.hide.menu-comment
        a.rightMenu-item(href="#post-comment")
            i.fas.fa-comment
            span='直达评论区'
        a.rightMenu-item#switch_commentBarrage(href="javascript:switchCommentBarrage();")
            i.iconfont.icon-danmu
            span='开关评论弹幕'
        a.rightMenu-item.hide.comment-select(href="javascript:rmf.commentSelect();")
            i.far.fa-comment-alt
            span='评论所选内容'
    .rightMenu-group.rightMenu-line.hide.menu-to
        a.rightMenu-item(href="javascript:rmf.openInNewTab()")
            i.fa.fa-window-restore
            span='新窗口打开'
        a.rightMenu-item(href="javascript:rmf.open()")
            i.fa.fa-link
            span='前往此链接'
        a.rightMenu-item(href="javascript:rmf.copyLink()")
            i.fa.fa-copy
            span='复制链接'
    .rightMenu-group.rightMenu-line.hide.menu-img
        a.rightMenu-item(href="javascript:rmf.saveAs()")
            i.fa.fa-download
            span='保存图片'
        a.rightMenu-item(href="javascript:rmf.openImageInNewTab()")
            i.fa.fa-window-restore
            span='新窗口打开图片'
        a.rightMenu-item(href="javascript:rmf.copyImageLink()")
            i.fa.fa-copy
            span='复制图片链接'
    .rightMenu-group.rightMenu-line
        a.rightMenu-item(href="javascript:toRandomPost()")
            i.fa.fa-paper-plane
            span='随便逛逛'
        a.rightMenu-item(href="javascript:rmf.switchDarkMode();")
            i.fa.fa-moon
            span='切换显示模式'
        a.rightMenu-item(href="javascript:rmf.translate();")
            i.iconfont.icon-fanti
            span='繁简转换'
        a.rightMenu-item.hide.menu-read(href="javascript:rmf.switchReadMode();")
            i.fa.fa-book
            span='阅读模式'
        a.rightMenu-item(href="javascript:fullScreen();")
            i.fas.fa-expand
            span='切换全屏模式'
