#article-container
  .projects
    - var [topInfo, ...linkData] = site.data.project
    .author-content.author-content-item.top-background.single(style=topInfo.top_background ? `background: url(${topInfo.top_background}) left 28% / cover no-repeat;` : "")
      .card-content
        .author-content-item-tips=topInfo.title
        span.author-content-item-title=topInfo.subTitle
        .content-bottom
            .tips=topInfo.tips
    .gallery-group-main(style="margin-top: 20px;")
      each item in linkData
        figure.gallery-group
          img.gallery-group-img.no-lightbox(data-lazy-src=item.image)
          figcaption
            .gallery-group-name=item.name
            p=item.descr
            a(href=item.url)