#article-container
  .projects
    - var info = site.data.project
    - var projects = info.project_list
    .author-content.author-content-item.top-background.single(style=info.top_background ? `background: url(${info.top_background}) left 28% / cover no-repeat;` : "")
      .card-content
        .author-content-item-tips=info.title
        span.author-content-item-title=info.subTitle
        .content-bottom
            .tips=info.tips
    .gallery-group-main(style="margin-top: 20px;")
      each item in projects
        figure.gallery-group
          img.gallery-group-img.no-lightbox(data-lazy-src=item.image)
          figcaption
            .gallery-group-name=item.name
            p=item.descr
            a(href=item.url)