script.
  $(document).ready(() => {
    talk.changeTimeInTalk();
    talk.reflashTalkWaterFall();
    loadMeting();
    document.querySelectorAll('.bber-content-img img').forEach(function(img) {
        img.onload = function() {
            talk.reflashTalkWaterFall();
        }
    });
    const originalScrollEnd = document.onscrollend;
    document.onscrollend = () => {
      talk.reflashTalkWaterFall();
    };
    function handlePjaxSend() {
      document.onscrollend = originalScrollEnd;
      document.removeEventListener('pjax:send', handlePjaxSend);
    }

    document.addEventListener('pjax:send', handlePjaxSend);
  })
if site.data.talk
  - var i = site.data.talk
  #talk_page
    .author-content.author-content-item.top-background.single(style=i.top_background ? `background: url(${i.top_background}) center 28% / cover no-repeat;` : "")
      .card-content
        .author-content-item-tips=i.title
        span.author-content-item-title=i.subTitle
        .content-bottom
          .tips=i.tips
        .banner-button-group
          a.banner-button(href=i.buttonLink)
            i.fas.fa-circle-right
            span.banner-button-text=i.buttonText
    #bber
      section.timeline.page-1
        ul#waterfall.list
          each item, index in i.talk_list
            if index < i.limit
              li.bber-item
                .bber-content
                  p.datacont(style="white-space:pre-wrap;") !{item.content}
                    if item.hide
                      .hide-block
                        .hide-button(onclick="this.classList.add('open');talk.reflashTalkWaterFall();") !{item.hide.button}
                        .hide-content !{item.hide.content}
                    if item.image
                      - l = Math.min(item.image.length, 4)
                      .bber-container-img
                        each iten, indey in item.image
                          a.bber-content-img(href=url_for(item.image[indey]),target="_blank",data-fancybox="gallery",data-caption="",style="")
                            img(src=url_for(item.image[indey]))
                    if item.video
                      .bber-container-video
                        each iten, indey in item.video  
                          if (item.video[indey].includes('player.bilibili.com') || item.video[indey].includes('www.youtube.com'))
                            div(style="position: relative; padding: 30% 45%;margin-top: 10px;margin-bottom: 10px;")
                              iframe(style="position: absolute; width: 100%; height: 100%; left: 0; top: 0;margin: 0;border-radius: 12px;border: var(--style-border);",src=url_for(item.video[indey]),scrolling="no",border="0",frameborder="no",framespacing="0",allowfullscreen="true")
                          else
                            a.bber-content-video(href=url_for(item.video[indey]),data-fancybox="gallery",data-caption="")
                              video(src=url_for(item.video[indey]))
                    if item.aplayer
                      .bber-music
                        .aplayer.no-destroy(data-id=item.aplayer.id,data-server=item.aplayer.server,data-type="song",data-order="list",data-preload="none",data-autoplay="false",data-mutex="true",data-theme='var(--fyz-main)')
                hr
                .bber-bottom
                  .bber-info
                    .bber-info-time
                      - var datedata = new Date(item.date).toISOString()
                      i.fas.fa-clock
                      time.datatime(datetime= item.date)= datedata
                    if item.address
                      .bber-info-from
                        i.fas.fa-map-marker-alt
                        span=item.address
                    if item.link 
                      each i in item.link
                        a.bber-content-link(href=url_for(i.url),rel="external nofollow")
                          i.fas.fa-link
                          | #{i.name}
                    if item.tag
                      each i in item.tag
                        .bber-tag
                          i.fa-solid.fa-tag
                          | #{i}
                    if item.from
                      .bber-info-from
                        i.fas.fa-fire-alt
                        span=item.from
                  - var content = item.content.replace(/<[^>]*>/g, '');
                  .bber-reply(onclick="rmf.commentText(" + JSON.stringify(content) + ")")
                    i.far.fa-comment-alt
    #bber-tips(style='color: var(--fyz-secondtext);')
      ="- 只展示最近" + i.limit + "条说说 -"